<div class="navbar navbar-inverse navbar-fixed-top navbar-enuke" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="<%= root_path %>" title="En uke - keep your links fresh"><b>En</b> uke</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="pull-right nav navbar-nav header-menu">
        <% if user_signed_in? %>
          <li><a href="#"><b><%= current_user.email unless current_user.email.blank? %></b></a></li>
          <li><%= link_to 'exit', user_path(999), method: :delete, data: { confirm: 'Are you sure?' }  %></li>
        <% else %>
          <li><%= link_to 'Sign in', signin_users_path %></li>
          <li><%= link_to 'Create an account', signup_users_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container container_top">
  <div id="message"></div>
  <%= yield %>
</div>
