<!DOCTYPE html>
<html>
<head>
  <title>En uke - keeps your bookmarks only one week</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="p8hpPOkXUE1jz3LI-qKEu-oz2fXL_9JUQFBoijtj7bw" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="http://en-uke.com/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="http://en-uke.com/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="http://en-uke.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<body>
<header>
  <div class="container">
    <div class="logo">
      <h1><a href="/">En uke</a></h1>
      <span class="slogan">Keeps<br/> your bookmarks<br/> only one week.</span>
    </div>

    <div class="header-content">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
</header>

<script type="text/javascript">
  window.user_token = '<%= current_user.token if user_signed_in? %>';
</script>
<%= javascript_include_tag "application" %>
</body>
</html>
