<!DOCTYPE html>
<html>
<head>
  <title>En uke - keeps your bookmarks clean & up to date</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="p8hpPOkXUE1jz3LI-qKEu-oz2fXL_9JUQFBoijtj7bw" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="http://en-uke.com/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="http://en-uke.com/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="http://en-uke.com/favicon.ico" type="image/vnd.microsoft.icon">
  <!-- FB -->
  <meta property="og:title" content="En uke - keeps your bookmarks only one week" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="<%= url_to_asset('en-uke-logo.png') %>" />
  <meta property="og:url" content="http://en-uke.com" />
  <meta property="og:description" content="Bookmarks productivity service" />
</head>
<body>
<header>
  <div class="container">
    <div class="logo">
      <h1><a href="/">En uke</a></h1>
      <span class="slogan">Keeps<br/> your bookmarks<br/> clean & up to date.</span>
    </div>

    <div class="header-content">
      <%= yield %>
    </div>
  </div>
</header>

<script type="text/javascript">
  window.user_token = '<%= current_user.token if user_signed_in? %>';
</script>
<%= javascript_include_tag "application" %>
</body>
</html>
